* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

subject {
    text-align: center;
    margin: 40px;
    width: 700px;
    padding: 16px;
    border: 2px solid chartreuse;
}

row {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1px;
}

row lecture {
    width: 25%;
    display: inline-block;
    background: yellow;
}

row title {
    width: 70%;
    display: inline-block;
    background: turquoise;
}

row title[class="heading"],
row lecture[class="heading"] {
    background: rgb(2, 184, 11);
}